.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    background-color: antiquewhite;
    height: 12vh;
}
.logo-container{
    display: flex;
    justify-content: space-around;
    width: 20%;
    padding-left: 2%;
}
.logo-container div img{
    width: 15vw;
}

.navitems-container{
    display: flex;
    justify-content: space-around;
    padding: 0% 10%; 
    width: 60%;
}
.additional-navitems-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20%;
}

.button-loggin{
    background-color: rgb(255, 169, 9);
    border: 1px solid black;
    border-radius: 2px;
    padding: 2% 5%;
    width: 6vw;
    height: 2vw;
}

.profile-picture img{
    width: 3vw;
    height: 6vh;
}
